@use 'styles/colors';

.header {
  background-color: colors.$black;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .logo {
    display: inline-block;
    vertical-align: middle;
  }

  .logo-text {
    color: colors.$white;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 8px;
  }
}
