@use '../../styles/colors';
@use '../../styles/grids';

.header {
  background-color: colors.$black;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;

  .logo {
    display: none;
    vertical-align: middle;
  }

  .logo-text {
    color: colors.$white;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 16px;
    white-space: nowrap;
    position: relative;
    z-index: 30;
  }

  @media (min-width: grids.$breakpoint-lg) {
    padding: 8px 16px;
    height: 105px;

    .logo {
      display: inline-block;
    }
    .logo-text {
      font-size: 24px;
      margin-top: 0;
    }
  }
}
