@use '../../styles/colors';

.affiliate-card {
  background-color: colors.$white;
  border: 1px solid colors.$brand-teal-100;
  border-radius: 10px;
  padding: 20px;

  .affiliate-card-top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 0 16px;
  }

  .affiliate-card-text {
    flex: 1 1 auto;
    min-width: 0;
  }

  .photo {
    position: relative;
    width: 90px;
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;

    img {
      object-fit: contain;
    }
  }

  h3 {
    margin: 0 0 8px;
    font-size: 20px;
  }

  a:link,
  a:visited {
    display: block;
    background-color: colors.$brand-purple;
    color: colors.$white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 24px;
    font-weight: bold;
  }

  a:hover,
  a:active {
    background-color: colors.$brand-purple-300;
  }
}
