@use '../../styles/colors';
@use '../../styles/grids';

.blog-post-page {
  padding-top: 40px;

  h2,
  h3 {
    color: colors.$brand-teal;
  }
  h2 {
    font-size: 20px;
  }
  p {
    max-width: 1000px;
  }

  .blog-post-content img {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    float: right;
    margin: 0 0 16px 24px;
  }

  @media screen and (max-width: 600px) {
    .blog-post-content img {
      max-width: 100%;
      float: none;
      margin: 0 0 16px;
    }
  }

  @media (min-width: grids.$breakpoint-md) {
    display: flex;
    justify-content: space-between;

    .sidebar {
      width: 30%;
    }
    .blog-post-content {
      width: 66%;
    }
  }
}
