@use '../../styles/colors';

.recipe-page {
  padding-top: 40px;

  .recipe-header {
    display: flex;
    justify-content: space-between;

    .recipe-share-buttons {
      background-color: colors.$brand-orange;
      color: colors.$white;
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      height: 44px;
      margin-top: 40px;

      > div {
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .print-button {
        display: none;
      }
    }
  }

  h2,
  h3 {
    color: colors.$brand-teal;
  }

  .recipe-ingredients-heading {
    margin-top: 0;
  }

  .recipe-ingredients {
    columns: 2;
  }
  .recipe-ingredients p:first-child {
    margin: 0;
  }

  a {
    color: colors.$brand-purple;
  }

  .video-thumbnail-container {
    position: relative;
    display: block;
    aspect-ratio: 16 / 9;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: static;
    }

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .related-product-cards {
    > div {
      margin-bottom: 40px;
    }
  }

  .recipe-page-col-2 img {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    .recipe-header {
      .recipe-share-buttons {
        .print-button {
          display: flex;
        }
      }
    }

    .recipe-page-col-container {
      display: flex;
      justify-content: space-between;

      .recipe-page-col-1 {
        width: 55%;
      }
      .recipe-page-col-2 {
        width: 35%;
      }
    }
  }
}
