@use 'styles/colors';
@use 'styles/grids';

.hero {
  position: relative;
  width: 100%;

  .heroContent {
    position: relative;
    border-top: solid 1px transparent;

    h3 {
      color: #fff;
      font-size: 32px;
      text-shadow: black 0.1em 0.1em 0.2em;
      padding: 50px 0 0 0;
    }

    .youtube-button {
      background-color: colors.$brand-orange;
      color: white;
      text-decoration: none;
      padding: 10px;
      font-weight: bold;
      text-shadow: black 0.1em 0.1em 0.2em;
      border-radius: 5px;
    }
  }
}

@media (min-width: grids.$breakpoint-md) {
  .hero {
    height: 60vh;

    .heroContent {
      max-width: 780px;
      top: 90px;
      text-align: center;
      margin: 0 auto;

      h3 {
        font-size: 56px;
        font-weight: bold;
        padding: 0;
      }
    }
  }
}
