@use '../../../styles/colors';
@use '../../../styles/grids';

.nav-menu {
  position: absolute;
  background-color: colors.$black;
  right: 0;
  top: 0;
  z-index: 20;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.top-level-menu-item a {
  display: block;
  padding: 12px;
  font-size: 16px;
  text-decoration: none;
  color: colors.$white;
  &:hover {
    color: colors.$brand-purple;
  }
}
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: colors.$white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: colors.$white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 710px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.sub-menu {
  position: relative;
  z-index: 10;
  background-color: colors.$black;
}

@media (min-width: grids.$breakpoint-lg) {
  .nav-menu {
    margin-top: 24px;
  }

  .top-level-menu-item {
    float: left;
  }
  .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
  .sub-menu {
    list-style: none;
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
    padding-inline-start: 0;
    display: none;
  }
  .cocktail-recipes-top-menu {
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
}
