@use './typography.scss';
@use './colors.scss';
@use './grids.scss';

body {
  background-color: colors.$gray-lighter;
  margin: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
